integration/bpm/support/files/WorkflowTaskDisplay.xsd

<?xml version="1.0"?>
<xsd:schema targetNamespace="http://xmlns.oracle.com/bpel/workflow/taskDisplay"
    xmlns:tns="http://xmlns.oracle.com/bpel/workflow/taskDisplay"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns="http://www.w3.org/2001/XMLSchema"
    elementFormDefault="qualified"> 

    <!-- Root Element -->
    <element name="taskDisplay">
       <complexType>
            <sequence>
                <element name="taskDefinitionId" type="xsd:string" minOccurs="1" maxOccurs="1"/>
                <element name="applicationName" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                <element name="templateName" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                <element name="template" type="xsd:string" minOccurs="1" maxOccurs="1"/>
                <element name="regions" type="tns:regionsType" minOccurs="0" maxOccurs="1"/>
            </sequence>
            <attribute name="targetNamespace" type="xsd:string" use="optional"/>
            <attribute name="generateInternationlizedJSP" type="xsd:boolean" use="optional"/>
       </complexType>
    </element>

    <complexType name="regionsType">
        <choice maxOccurs="unbounded">
            <element name="xsl" type="tns:xslType" minOccurs="0" maxOccurs="1"/>
            <element name="jsp" type="tns:jspType" minOccurs="0" maxOccurs="1"/>
            <element name="defaultJSP" type="tns:jspType" minOccurs="0" maxOccurs="1"/>
            <element name="oaFramework" type="tns:oaFrameworkType" minOccurs="0" maxOccurs="1"/>
            <element name="autoGeneratedJSP" type="tns:autoGeneratedJSPType" minOccurs="0" maxOccurs="1"/>
        </choice>
    </complexType>

    <complexType name="xslType">
        <sequence>
            <element name="xslURI" type="xsd:string" minOccurs="1" maxOccurs="1"/>
        </sequence>
        <attribute name="regionName" type="xsd:string" use="required"/>
    </complexType>

    <complexType name="jspType">
        <sequence>
            <element name="jspURI" type="xsd:string" minOccurs="1" maxOccurs="1"/>
            <element name="parameter" type="tns:parameterType" minOccurs="1" maxOccurs="unbounded"/>
        </sequence>
        <attribute name="regionName" type="xsd:string" use="required"/>
    </complexType>

    <complexType name="oaFrameworkType">
        <sequence>
            <element name="jspURI" type="xsd:string" minOccurs="1" maxOccurs="1"/>
            <element name="parameter" type="tns:parameterType" minOccurs="1" maxOccurs="unbounded"/>
        </sequence>
        <attribute name="regionName" type="xsd:string" use="required"/>
    </complexType>

    <complexType name="autoGeneratedJSPType">
        <sequence>
            <element name="jspURI" type="xsd:string" minOccurs="1" maxOccurs="1"/>
            <element name="messageAttribute" type="tns:messageAttributeType" minOccurs="1" maxOccurs="unbounded"/>
            <element name="parameter" type="tns:parameterType" minOccurs="1" maxOccurs="unbounded"/>
        </sequence>
        <attribute name="regionName" type="xsd:string" use="required"/>
        <attribute name="editable" type="xsd:boolean" use="optional"/>
    </complexType>

    <complexType name="messageAttributeType">
        <simpleContent>
            <extension base="string">
                <attribute name="editable" type="xsd:boolean" use="required"/>
            </extension>
        </simpleContent>
    </complexType>

    <complexType name="parameterType">
        <simpleContent>
            <extension base="string">
                <attribute name="name" type="xsd:string" use="required"/>
            </extension>
        </simpleContent>
    </complexType>

</xsd:schema>

